@use "sass:color";
@use "../../_variables.scss" as *;

nav {
    display: flex;
    height: 4rem;
    align-items: center;
    padding: 0 2rem;
    
    box-shadow: 0px 0px 10px 1px transparentize(desaturate($primary, 80%), 0.7);

    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;

        span {
            font-size: 2rem;
            font-weight: bold;
            color: $primary;
            
            margin-left: 0.75rem;
        }

        &:hover span {
            color: $primary-darkened;
        }

        &:hover svg {
            fill: $primary-darkened;
        }
    }

    .buttons {
        margin-left: auto;
        & a:first-child {
            margin-right: 0.5rem;
        }

        .primary-button, .secondary-button {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.25rem;

            font-size: 1rem;
            text-decoration: none;
        }

        .primary-button {
            background-color: $primary;
            color: #EEEEEE;

            &:hover {
                background-color: $primary-darkened;
            }
        }

        .secondary-button {
            // Box shadow is used for inset borders, its color defaults to color ($primary)
            box-shadow: inset 0 0 0 2px;
            color: $primary;

            &:hover {
                background-color: #F3F3F3;
                color: $primary-darkened;
            }
        }
    }
}